@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/Raleway-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Raleway-Thin;
  src: url(../fonts/Raleway-Thin.ttf);
  font-weight: thin;
}
@keyframes arrowsl {
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes arrowsd {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.title {
  font-family: "Raleway-Black", "Arial", sans-serif;
  color: #95DBDC;
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  color: #A3A3A3;
  font-size: 18px;
  font-family: "Raleway-Thin", "Arial", sans-serif;
}

.hide {
  display: none;
}

body {
  overflow-x: hidden;
}

#landing {
  background-image: url("../images/bckgd.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
#landing header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  height: 100vh;
  padding: 0px 10px;
  background-color: rgba(28, 28, 28, 0.9);
}
#landing header .title {
  grid-column: 1/-1;
  text-align: center;
  grid-row: 1/2;
}
#landing header .subtitle {
  grid-column: 1/-1;
  text-align: center;
  grid-row: 1/2;
  margin-top: 60px;
}
#landing header #logocontainer {
  grid-column: 2/6;
  grid-row: 2/3;
  max-width: 175px;
  align-self: end;
}
#landing header #logocontainer img {
  max-width: 100%;
}
#landing header a {
  font-size: 20px;
  font-family: "Raleway-Black";
  color: #A3A3A3;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#landing header a .arrow {
  width: 0;
  height: 0;
}
#landing header a .leftarrow {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(163, 163, 163, 0.4);
}
#landing header a .rightarrow {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(163, 163, 163, 0.4);
}
#landing header a .downarrow {
  border-top: 15px solid rgba(163, 163, 163, 0.4);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
#landing header #portfolio {
  grid-column: 1/-1;
  grid-row: 3/4;
  align-self: start;
  justify-self: center;
}
#landing header #portfolio .arrow {
  animation: arrowsd 1s linear infinite;
}
#landing header #about {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
}
#landing header #about .arrow {
  animation: arrowsl 1s linear infinite;
}
#landing header #resume {
  grid-column: 6/-1;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
#landing header #resume .arrow {
  animation: arrowsl 1s linear infinite;
}

/*# sourceMappingURL=main.css.map */
